@import '../utils/index.scss';

.wrapper {
  scroll-snap-type: x mandatory;

  @apply
    flex
    overflow-x-auto
    -mx-3;

  .pageWrapper {
    scroll-snap-align: start;
    transition: transform 500ms ease-in-out 0s;

    @apply
      w-full
      flex
      flex-shrink-0;
  }
}