@import '../utils/index.scss';

$maskBackgroundImage: rgba(38, 38, 38, .8);
$maskZIndex: 1;
$showMaskContentOffset: 0px;
$hideMaskContentOffset: -300px;

.wrapper {
  @apply
    w-0
    h-0
    fixed
    top-0
    left-0
    z-[#{$maskZIndex}];
}

.showMask {
  background-color: $maskBackgroundImage;
  
  @extend .maskAnimation;
  @apply
    w-screen
    h-screen;
}

.hideMask {
  @extend .maskAnimation;
}

.showMaskContent {
  transform: translateX($showMaskContentOffset);

  @extend .maskAnimation;
}

.hideMaskContent {
  transform: translateX($hideMaskContentOffset);

  @extend .maskAnimation;
  @apply opacity-0;
}
