SERVER_URL=
SHORTCUT_ICONS_SERVER_HOST=
ADVERTISE_IMAGE_SERVER_HOST=
CATEGORY_ICONS_SERVER_HOST=
STORE_IMAGE_SERVER_HOST=
UTILS_ICONS_SERVER_HOST=
STAR_ICON_SERVER_HOST=
SPICY_ICON_SERVER_HOST=
NODE_OPTIONS=
WATCHPACK_POLLING=
CHOKIDAR_USEPOLLING=
CHOKIDAR_INTERVAL=
