@import '../../utils/zIndex.scss';

$titleBackground: rgb(246, 240, 234);
$topBackgroundHeight: 152px;
$bottomBackgroundHeight: 88px;
$titleFontSize: 52px;
$titleLineHeight: 64px;
$imageHeight: 149px;
$imageMargin: 120px;

.wrapper {
  @apply
    h-60
    relative;

  .background {
    @apply
      w-full
      h-full
      absolute;

    .topBackground {
      @apply
        h-[#{$topBackgroundHeight}]
        bg-[#{$titleBackground}];
    }

    .bottomBackground {
      @apply
        flex
        h-[#{$bottomBackgroundHeight}];

      .left {
        @apply
          w-3/4
          bg-[#{$titleBackground}];
      }

      .right {
        background-image: url('../../../public/images/curve.svg');

        @apply
          w-1/4
          bg-no-repeat
          bg-contain;
      }
    }
  }

  .content {
    @apply
      h-full
      px-10
      flex
      justify-between;

    .text {
      @extend .z-1;
      @apply
        self-center
      text-black
        font-medium
        text-[#{$titleFontSize}]
        leading-[#{$titleLineHeight}];
    }

    .imageWrapper {
      @apply
        self-center
        relative
        w-40
        h-[#{$imageHeight}]
        mx-[#{$imageMargin}];
    }
  }
}
